RestoBook/RestoBook.Wpf/Service References/RestoBookServiceReference/RestoBook.DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RestoBook.DataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RestoBook.DataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRestaurants">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restaurants" nillable="true" type="tns:Restaurants" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurants" nillable="true" type="tns:ArrayOfRestaurants" />
  <xs:complexType name="Restaurants">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cuisine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ville" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Restaurants" nillable="true" type="tns:Restaurants" />
</xs:schema>