RestoBook/RestoBook.Wpf/Service References/RestoBookServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RestoBook.DataService" />
  <xs:element name="GetAllRestaurant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RestoBook.DataService" minOccurs="0" name="GetAllRestaurantResult" nillable="true" type="q1:ArrayOfRestaurants" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantByState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="active" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantByStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RestoBook.DataService" minOccurs="0" name="GetRestaurantByStateResult" nillable="true" type="q2:ArrayOfRestaurants" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>